{% extends "portfolio/base.html" %}
{% block title %}Sobre{% endblock %}
{% block content %}
  <h2>Sobre</h2>
        <p>Nesta aplicação são utilizadas tecnologias essenciais no desenvolvimento web moderno:</p>
        <ul>
            <li><strong>Python e Django:</strong> Utilizados para construir aplicações web robustas e escaláveis, para perfecionistas com prazos.</li>
            <li><strong>HTML, CSS e JavaScript:</strong> Essenciais para criar a estrutura, estilo e interatividade das páginas web.</li>
        </ul>
        <p>Esta página irá incluir a descrição de aspectos técnicos que implementam esta aplicação web.</p>
{% endblock %}